%table.table-condensed
  %td= gravatar_image_tag(current_user.email)
  %td
    %b= current_user.name
    %br
    %b="$ #{current_user.amount}"
    %br
    = income_button current_user
    = expense_button current_user

=render partial: "transactions/transactions", locals: { transactions: @transactions, user: current_user }

= link_to "categories", user_categories_path(current_user), class: 'btn btn-mini btn-primary span1'