%table.table-condensed
  %td= gravatar_image_tag(current_user.email)
  %td
    %b= current_user.name
    %br
    %b="$ #{current_user.amount}"
    %br
    = link_to new_user_income_path(current_user), class: 'btn btn-success' do
      -content_tag(:i, "", class: 'icon-plus-sign')
    = link_to new_user_expense_path(current_user), class: 'btn btn-danger' do
      -content_tag(:i, "", class: 'icon-minus-sign')
