= simple_form_for([@account, @transaction]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :amount
    = f.input :concept
    = f.association :category
    = f.input :date

  .form-actions
    = f.button :submit
