%table.table.table-striped
  %tr
    %th Date
    %th Category
    %th Amount
    %th Concept
    %th Actions

  - transactions.each do |transaction|
    %tr
      %td= transaction.date
      %td= link_to transaction.category, user_category_path(user, transaction.category)
      %td= transaction.amount
      %td= transaction.concept
      %td
        = show_button(user_transaction_path(user, transaction)) + edit_button(edit_user_transaction_path(user, transaction)) + destroy_button(user_transaction_path(user, transaction))
