%p#notice= notice

%p
  %b Amount:
  = @transaction.amount
%p
  %b Concept:
  = @transaction.concept
%p
  %b Category:
  = @transaction.category
%p
  %b Date:
  = @transaction.date

= link_to 'Edit', edit_account_transaction_path(@account, @transaction)
\|
= link_to 'Back', account_transactions_path(@account)
