%p#notice= notice

%p
  %b Amount:
  = @transaction.amount
%p
  %b Concept:
  = @transaction.concept
%p
  %b Category:
  = @transaction.category
%p
  %b Date:
  = @transaction.date

= link_to 'Edit', edit_user_transaction_path(@user, @transaction)
\|
= link_to 'Back', user_transactions_path(@user)
