%h1 Listing accounts

%table
  %tr
    %th Name
    %th Amount
    %th
    %th

  - @accounts.each do |account|
    %tr
      %td= link_to account.name, user_account_path(@user, account)
      %td= account.amount
      %td= link_to 'Edit', edit_user_account_path(@user, account)
      %td= link_to 'Income', new_account_income_path(account)
      %td= link_to 'Expence', new_account_expence_path(account)
      %td= link_to 'Destroy', user_account_path(@user, account), method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Account', new_user_account_path(@user)
|
= link_to 'Categories', user_categories_path(@user)
